CTk {
    title: "Sentiment App";
    geometry: "700x450";
}

#input_entry {
    height: 40;
    width: 200;
    placeholder_text: "Enter a sentence...";
}

#input_entry:place {
    x: 50;
    y: 50;
}

#analyze_button {
    text: "Analyze";
    hover_color: "#32a871";
}

#analyze_button:place {
    x: 280;
    y: 53;
}

#result_label {
    font: ("Arial", 16);
}

#result_label:place {
    x: 50;
    y: 200;
}
